body {
    background-color: rgba(25, 158, 166, 0.38);
    padding: 0;
}

main {
    border: 1px solid black;
    width: 70%;
    background-color: white;
    margin: 2% 15%;
    padding: 5%;
    min-height: 85vh;
}

a.nav-link {
    padding: 0%;
}

footer {
    width: 100%;
    min-height: 5%;
    text-align: center;
}

form ul {
    list-style-type: none;
}

h1.text-centre {
    text-align: center;
}

h4.text-centre {
    text-align: center;
}


.nav-right {
    margin-left: auto;
}
