body{
    background-color: rgba(25, 158, 166, 0.38);
    padding: 0;

}

main{
    border: 1px solid black;
    width: 70%;
    background-color: white;
    margin: 2% 15%;
    padding: 5%;
    min-height: 85vh;
}

 a.nav-link {
    padding: 0%;
}

 footer{
     /*position: fixed;*/
     width: 100%;
     /*bottom: 0;*/

     min-height: 5%;
     text-align: center;
     /*vert-align: middle;*/
 }

 form ul{
     list-style-type: none;
 }

 main .users-cards-wrapper{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
 }

