.user-page-description-wrapper{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.user-page-description-info{
    max-width: 50%;
}

.user-page-description-image{
    max-width: 30%;
    overflow: hidden;
}

.user-page-description-image img {
    object-fit: contain;
    width: 200px;
    height: 300px;
}


p.not-found-err{
    font-weight: bolder;
    font-size: 60px;
}