<!doctype html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">


    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block static-load %}

    {% endblock %}
    <link rel="stylesheet" href="{% static "index.css" %}">
    <title>{% block title %}My amazing site{% endblock %}</title>

</head>
<body>

<nav class="navbar navbar-expand-lg sticky-top bg-primary navbar-dark">
    <a class="navbar-brand" href="/">Go viral</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        {% if user.is_authenticated %}

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url  "usersList" %}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "userPage" user.profile.id %}">My page</a>
                </li>
            </ul>

            <span class="navbar-text align-right">
                <a class="nav-link" href="{% url "logout" %}">Welcome, {{ user.get_username }}.</a>
            </span>
        {% else %}
            <span class="navbar-text nav-right">
                <a class="nav-link" href="{% url "login" %}">Welcome, new user. Please log in.</a>
            </span>
        {% endif %}

    </div>
</nav>

<main>

    {% block main %}
        <h2>Hello, this is my test task for JetBridge. Here is a litle info:</h2>
        <h4 class="text-centre">Technical details</h4>
        <ul>
            <li>
                This is a multipage server-side Django app.
            </li>
            <li>
                Some standard features of Django such as auth, sessions and form handling where used.
            </li>
            <li>
                GUI was made using Bootstrap and a third-party Django lib "crispy forms" which also uses Bootstrap as a
                dependency.
            </li>
            <li>
                App uses SQLite on deployment with Django ORM
            </li>
        </ul>
        <h4 class="text-centre">User stories</h4>
        <p>
            User must sign up or sign in to use page. Unauthorized users can visit only this page and
            sign-up/sign-in pages.
            Site navigation is also unavailable for unauthorized users.
            <strong>To sign in, you should click on invitation top right corner</strong>
        </p>
        <p>
            On authorization stage, user can choose to register or log in. Form fields are validated and have hints.
            Also,
            user can use referral code while registration or skip it and leave the field empty. User can't use invalid
            codes.
        </p>
        <p>
            In case of successful authorization, user will be redirected to the page with the list of users. Navbar will
            also
            have new buttons, and the log-out button on the right upper corner. </p>

        <p>

            From list of other users, user can access the page of any of them. Trying to go by invalid url will cause
            404 warning.
            Each page has public information, which includes number of people registered by referral code, and private
            information,
            which is visible only to the owner of the page. <strong>Private information includes the referral
            code</strong> and update
            button. Update button
            triggers special form which could be canceled or accepted. The update form's page is also capable of showing
            404 and 403(unauthorized)
            errors in case of using invalid id in link or trying to visit someone else's update page.
        </p>
        <p>
            To log into another account you firstly need to log-out which is done instantly after pressing the link in
            the top right corner.
        </p>

        <h4 class="text-centre"> Bug Report</h4>
        <p><strong>Warning about Django ORM superuser and admin panel</strong>. Users created with manage.py commands
            such as "createsuperuser" can have some
            unpredictable behaviour, so don't use them. I've used standard Django auth features and extended User Model
            by setting new Model of ViralUser
            (or user profile). The extension is done by setting One-to-One link in ORM, so that each time the User
            instance
            is created, app creates an
            instance of users profile. This works fine because of Django senders mechanism, but if the user is created
            without using server, senders can not control
            creating user's profile, which is used for storing information and in url system.</p>
    {% endblock %}

</main>

<footer class="btn-dark"> I am footer</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>